article.col-md-12.top-main
  article.col-md-12.no-padding.gif
    img.phno-logo(src=require('assets/images/phnoLogo.png'))
    article.no-padding.blog-no-padding
      h2.phno-now now
    .contact-section
      p.tagline INNOVATION. CULTURE. AND WHERE THEY MEET. Give us a tip at now@phenomenon.com
      ul.blog-action-list
        li.search
          img(src="assets/images/blog/search.png", alt="alt")
        li.action-text Search
        li.subscribe
          img(src="assets/images/blog/subscribe.png", alt="alt")
        li.action-text Subscribe
        li.archive
          img(src="assets/images/blog/archive.png", alt="alt")
        li.action-text Archive

.pageDivide.col-md-12
