footer.footer
	.footer-wrapper.row.no-padding
		//- h1.col-xs-12.col-sm-3.col-lg-2.no-padding Phenomenon
		//- 	sub &reg;
		.col-xs-12.col-sm-3.col-lg-2.no-padding

		section.col-xs-12.col-sm-6.col-lg-4.no-padding.offices

		section.col-xs-12.col-sm-3.col-lg-2.no-padding.social
			h4 Social
			include social-icons