section.col-md-12.no-padding.more-cases 
	.more-case-wrapper.cf
		article.col-md-4 
			img(src="assets/images/cooper-1.jpg")
			p 
				| Men's Wearhouse <br>Updates Its Closet.
				cite
					span
						| Mike Dowse
					span
						| CEO, Wilson
			a.red(href="#") read full article
		article.col-md-4
			img(src="assets/images/cooper-1.jpg")
			p 
				| Wilson Launches <br>Futuristic Ball.
				cite
					span
						| Mike Dowse
					span
						| CEO, Wilson
			a.red(href="#") read full article
		article.col-md-4
			img(src="assets/images/cooper-1.jpg")
			p 
				| thinkThin Helps <br>Women Shed the Guilt.
				cite
					span
						| Mike Dowse
					span
						| CEO, Wilson
			a.red(href="#") read full article
