//block variables
//- copy = require('app/copy.js')
- var currentUrl = "test" //window.location.href

ul.social-icons
	.bubble
		.bubble-wrapper
			li.social-icon
				a.icon-twitter.icon(socialshare socialshare-provider="twitter" socialshare-text="" socialshare-hashtags="phno" socialshare-url!=currentUrl socialshare-popup-height="600" socialshare-popup-width="500")
					span=caseIndex
			li.social-icon
				a.icon-facebook.icon(socialshare socialshare-provider="facebook" socialshare-text="#phenomenon" socialshare-hashtags="phenomenon" socialshare-media!=fbShareImg)
			li.social-icon
				a.icon-linkedin.icon(socialshare socialshare-provider="linkedin" socialshare-text="#phenomenon" socialshare-hashtags="#phenomenon" socialshare-url!=currentUrl socialshare-popup-height="600" socialshare-popup-width="500")
			li.social-icon
				a.icon-mail.icon(href="mailto:"+'?subject=' +currentUrl + '&body=' + currentUrl)
