block variables
- copy = require('app/copy.js')
- page = "404"
- pageData = copy.content[page]

section.row.no-padding.culture
  .col-md-12.error-container
    .col-md-5
      p.stuck You must be stuck.
      a(ui-sref="work")
        h4.red Get me out of here >
    .col-md-6.elephant
      img(src="assets/images/elephant.png", alt="alt")
