

section.row.no-padding.culture.job-posting
  article.col-md-8.job-column
    //- ncy-breadcrumb
    ul.breadcrumbs
      li.breadcrumb Careers  >
      li.breadcrumb-current(ng-bind="data.title")
    .job-title.apply-title(ng-bind="data.title")
    //- span.apply-with Apply with LinkedIn
    a(href="#")
      img( class='linkedIn-link' src="assets/images/linkedIn.png", alt="alt")
      img( class='or' src="assets/images/or.png", alt="alt")

    span.fill-it Fill out the form below
    form(name="userForm" ng-submit="submitForm()" novalidate)
      .form-group( ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }")
        input(type='text' ng-model="user.name" name='name' placeholder='Full Name *' required ng-model-options="{ 'updateOn': 'blur' }")
        p.help-block( ng-show='userForm.name.$invalid && !userForm.name.$pristine') If you really don't have a name, we'd love to meet you.
      .form-group( ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }")
        input(type='email' name='email' placeholder='Email *' ng-model='user.email' required ng-model-options="{ 'updateOn': 'blur' }")
        p.help-block( ng-show='userForm.email.$invalid && !userForm.email.$pristine') How can we tell you you're hired without an email address?
      .form-group( ng-class="{ 'has-error' : userForm.phone.$invalid && !userForm.phone.$pristine} ")
        input(type='text' name='phone' placeholder='Phone Number *' ng-model='user.phone' ng-minlength="10" ng-maxlength="14" ng-required='true' ng-model-options="{ debounce: 1500 }")
        p.help-block( ng-show='userForm.phone.$invalid && !userForm.phone.$pristine') Please provide us with a number we can use to reach out to you.
      .form-group
        input(type='text' name='Website / Online Portfolio' placeholder='Website / Online Portfolio' ng-model='user.website')
      .form-group
        input(type='text' name='linkedin' placeholder='LinkedIn Profile' ng-model='user.linkedin')
      .form-group
        input(type='text' name='Anything Else?' placeholder='Is there anything else you would like us to know?')
      .form-group
        button.btn.btn-default.attach-res(ng-click="uploadFile()") Attach Resume
        input.upload(type="file" file-model="myFile")
        .resume-attached-hidden.red Resume attached.
      button.apply-now.submit-app( type='submit' ng-disabled="userForm.$invalid") Submit Application
  article.col-md-3.pull-right.col-sm-12.col-xs-12.job-column-3
    .job-dep Department
    .job-category Creative
    br
    br
    .location-job Location
    .job-location Los Angeles
    hr
    img( class='share-icon' src="assets/images/share-128.png")
    span.job-location Share
