block variables
- copy = require('app/copy.js')
- page = "contact"
- pageData = copy.content[page]

section.row.no-padding.contact
	article.col-md-12.no-padding.top-main
		h2 
			blockquote  
				| Don't call them. They're my ninjas.
		cite
			img(src="assets/images/about/about-avatar.png")

			span
				| Douglas Ewert
			span
				| CEO Men's Wearhouse & Joseph A. Bank

	.col-xs-12.col-sm-6.col-md-6
		figure
			img(src="assets/images/contact/contact1.png")
			figcaption
				h3 Los Angeles
				ul
					li
						| +313-800-800
					li
						| 5900 Wilshire Blvd, Floor 28, <br>Los Angeles, CA 90036
	.col-xs-12.col-sm-6.col-md-6
		figure
			img(src="assets/images/contact/contact2.png")
			figcaption
				h3 Chicago
				ul 
					li
						| +1 323 648 4000
					li
						| 118 N Peoria Street, Suite 5N <br>Chicago, IL 60607
	.clear
	section.contactbiz.clearfix
		.col-xs-12.col-sm-4.col-md-4.no-padding
			h4 Jobs
			span We'd love to hear from you. <br> Tell us some things LinkedIn can't
			hr
			span 
				a(href="#")
					| jobs@phenomenon.com
		.col-xs-12.col-sm-4.col-md-4.no-padding
			h4 New Business
			span Pheno works mostly by referral. <br> Mostly. Not exclusively.
			hr
			span 
				a(href="#")
					| jobs@phenomenon.com
		.col-xs-12.col-sm-4.col-md-4.no-padding
			h4 PR
			span  We're gernerally not the ones talk about ourselves. But you can ask.
			hr
			span 
				a(href="#")
					| jobs@phenomenon.com


//include components/contact-form