block variables
- copy = require('app/copy.js')
- page = "culture"
- pageData = copy.content[page]


// title and body copy
section.row.no-padding.culture 
	article.col-md-4.no-padding
		img(src="assets/images/culture/culture.gif") 
	article.col-md-8.no-padding.top-main
		h2 
			blockquote  
				| Their office on the 28th floor provides great views of all the amazing places in LA that I've wanted to see but didn't have time  to sit in  traffic for two hours to visit.
		cite
			img(src="assets/images/about/about-avatar.png")

			span
				| Lindsay Phillips
			span
				| Men's Wearhouse

	article.col-md-12.no-padding
		img(src="assets/images/culture/culture1.png")

	article.col-md-12.no-padding
		.col-md-6
			img(src="assets/images/culture/culture2.png")
		.col-md-6
			span
				| I know I'm at Phenomenon when I walk past the La Brea tar pits and see the baby mammoth scream in anguish as its mother is sucked into a bubbling pit of tar. 		
	article.col-md-12.no-padding
		.col-md-6
			span 
				| Every day there's a slew of food trucks in front of their building.  I gain 5 lbs. every time we have meetings there.
		.col-md-6
			img(src="assets/images/culture/culture3.png")

	article.col-xs-12.col-md-12.no-padding
			img(src="assets/images/culture/culture-group.png")
	article.col-xs-12.col-md-10.no-padding
		.col-xs-12.col-md-5 
			img(src="assets/images/culture/culture4.png") 
		.col-xs-12.col-md-5
			img(src="assets/images/culture/culture5.png")
			img(src="assets/images/culture/culture6.png")
	article.col-md-12.no-padding
		img(src="assets/images/culture/culture7.png")