section.row.no-padding(ng-controller='holidayController')
  img#holidaygif(src="assets/images/homer.gif", alt="alt")
  video#holidayvideo(controls='false')
    source(src="assets/video/Nick-Offerman.mp4", type="video/mp4")
    |Your browser does not support the video tag.
