extends layout

block content

	h1= title
		p Welcome to #{title}
		main.maincontent
			.main-wrapper(data-snap-ignore="true")
				.component(ui-view)
					.loading-box

				include ./components/footer

