

section.row.no-padding.culture.job-posting
  article.col-md-8.job-column
    //- ncy-breadcrumb
    ul.breadcrumbs
      li.breadcrumb Careers >
      li.breadcrumb-current Digital Design Director
    .job-title Digital Design Director
    .job-content
      | "One thing I love about Pheno is that as a junior designer, I get tot work on just about everything. Sometimes it's a new website. Sometimes it's an app logo.
      | Sometimes it's writing a job description to find my future boss! The Design team at pheno is a tight bunch and we're looking for someone with some badass digital chops to help steer our growing ship.
      | As you can see from this new website, we've managed alright, but with your help, we can go even further. Or is it farther? Ugh, I knew I would need a writer."
    .job-author &mdash; Junior Designer
    .job-tasks Stuff You'll Be Doing:
    ul.taskList
      li.icon-right-arrow
        span Leading Various projects across a team of 4-6 designers.
      li.icon-right-arrow
        span Working closely with our design director.
      li.icon-right-arrow
        span Frequently presenting to clients.
    .job-tasks Stuff We'll Be Looking For:
    ul.qualifications
      li.icon-right-arrow
        span Leading Various projects across a team of 4-6 designers.
      li.icon-right-arrow
        span Working closely with our design director.
      li.icon-right-arrow
        span Frequently presenting to clients.
      li.icon-right-arrow
        span Leading Various projects across a team of 4-6 designers.
      li.icon-right-arrow
        span Working closely with our design director.
      li.icon-right-arrow
        span Frequently presenting to clients.
      li.icon-right-arrow
        span Leading Various projects across a team of 4-6 designers.
      li.icon-right-arrow
        span Working closely with our design director.
      li.icon-right-arrow
        span Frequently presenting to clients.
    hr.secondHr
    .candidate-privacy See our Candidate Privacy Statement
      .eoe Phenomenon is proud to be an equal opportunity workplace and is an affirmative action employer. We are committed to equal employment opportunity regardless of race, color, ancestry, religion, sex, national origin, sexual orientation, age, citizenship, marital status, disability, gender identity, pregnancy, Veteran status, genetic information, and/or any other protected characteristic recognized by federal, state or local laws. This policy applies to all terms and conditions of employment, including, without limitation, recruiting, hiring, placement, promotion, termination, layoffs, leaves of absence, compensation and training.
    a.apply-now(ui-sref='application') Apply Now
  article.col-md-3.pull-right.col-sm-12.col-xs-12.job-column-2
    .job-dep Department
    .job-category Creative
    br
    br
    .location-job Location
    .job-location Los Angeles
    hr
    img( class='share-icon' src="assets/images/share-128.png")
    span.job-location Share
