

section.row.no-padding.culture.job-posting()
  article.col-md-8.job-column
    //- ncy-breadcrumb
    ul.breadcrumbs
      li.breadcrumb(ui-sref="jobs") Jobs >
      li.breadcrumb-current(ng-bind="data.title")
    .job-title(ng-bind="data.title")
    .job-content-quote
      | "One thing I love about Pheno is that as a junior designer, I get tot work on just about everything. Sometimes it's a new website. Sometimes it's an app logo.
      | Sometimes it's writing a job description to find my future boss! The Design team at pheno is a tight bunch and we're looking for someone with some badass digital chops to help steer our growing ship.
      | As you can see from this new website, we've managed alright, but with your help, we can go even further. Or is it farther? Ugh, I knew I would need a writer."
    .job-author &mdash; Junior Designer
    .job-content(ng-bind-html="renderHtml(data.content)")
    hr.secondHr
    .candidate-privacy See our Candidate Privacy Statement
      .eoe Phenomenon is proud to be an equal opportunity workplace and is an affirmative action employer. We are committed to equal employment opportunity regardless of race, color, ancestry, religion, sex, national origin, sexual orientation, age, citizenship, marital status, disability, gender identity, or veteran status.
    a.apply-now(href='{{applyUrl}}') Apply Now
  article.col-md-3.pull-right.col-sm-12.col-xs-12.job-column-2
    .job-dep Department
    .job-category Creative
    br
    br
    .location-job Location
    .job-location Los Angeles
    hr
    img( class='share-icon' src="assets/images/share-128.png")
    span.job-location Share
