block variables
- copy = require('app/copy.js')
- page = "jobs"
- pageData = copy.content[page]


// title and body copy
section.row.no-padding.jobs
	article.col-md-offset-1.col-md-4
		img(src=require('assets/images/jobs/jobs1.png')) 
	article.col-xs-12.col-sm-12.col-md-7.col-sm-offset-0.top-main
		h2 
			blockquote!= pageData.blockquote
			
		include components/cite-components
		
		ul
			span= pageData.positions
			each contentItem in pageData.listing
				li 
					a(href=contentItem.listingUrl)= contentItem.listingTitle