block variables
- copy = require('app/copy.js')
- page = "jobs"
- pageData = copy.content[page]


// title and body copy
section.row.no-padding.jobs
	.top-main.noline
		article.col-xs-12.col-md-5.no-padding.jobs-fig
			figure.jobs-figure
				img(src=require('assets/images/jobs/jobs1.png'))
				figcaption.pheno-job-perks
					h3.pheno-perks Pheno Work Perks
					p.pheno-perks-description In addition to offering a comprehensive benefits package -- including medical, dental, and vision coverage -- Phenomenon also offers up to 12 weeks of paid parental leave and an open Paid Time Off policy to all full-time regular employees.
		article.col-md-7.jobs-header
			h2
				blockquote!= pageData.blockquote

			b.quote-by - Alison Cornia
			p.quote-by &nbsp; / SVP Marketing, Xome

		article.col-xs-12.col-sm-12.col-md-6.col-sm-offset-0.no-padding.jobs-list

			ul
				.department(ng-repeat="department in jobs.departments")
					.positions {{department.name}}
					hr
					li(ng-repeat="position in department.openPositions")
						a(ng-href="{{position.url}}", target="blank") {{position.title}}
						.location {{position.location}}
		article.col-md-12.contact-block
			.job-contact-block
				.want-to-join Want to join the Pheno team?
				h5.job-contact-us If you do not see available positions that match your skills and experience, or if you are a freelancer, feel free to send us your information.
				a.learn-more-jobs Learn More >
