block variables
- copy = require('app/copy.js')
- page = "jobs"
- pageData = copy.content[page]


// title and body copy
section.row.no-padding.jobs
	.top-main
		article.col-md-5
			img(src=require('assets/images/jobs/jobs1.png')) 
		article.col-xs-12.col-sm-12.col-md-7.col-sm-offset-0.no-padding
			h2 
				blockquote!= pageData.blockquote
				
			include components/cite-components
			
			ul
				span= pageData.positions
				each contentItem in pageData.listing
					li 
						a(href=contentItem.listingUrl target="blank")= contentItem.listingTitle