block variables
- copy = require('app/copy.js')
- page = "jobs"
- pageData = copy.content[page]


// title and body copy
section.row.no-padding.details.section.jobs
	article.col-md-4.no-padding
		img(src="assets/images/jobs/jobs1.png") 
	article.col-md-8.no-padding.top-main
		h2 
			blockquote
				| After a meeting, I wasn't sure who was from what department. Every person seemed to be involved in every aspect of what they were presenting.
		cite
			span
				| Lindsay Phillips
			span
				| Men's Wearhouse
		ul
			span Open Positions
			li 
				a(href="#")
					| Digital Design Director
			li
				a(href="#")
					| Senior Brand Strategist
			li
				a(href="#")
					| Strategy Director
			li
				a(href="#")
					| Digital Brand Director
			li
				a(href="#")
					| Studio Manager												