block variables
- copy = require('app/copy.js')
- page = "jobs"
- pageData = copy.content[page]


// title and body copy
section.row.no-padding.jobs
	.top-main.noline
		article.col-xs-12.col-md-5.no-padding.jobs-fig
			figure.jobs-figure
				img(src=require('assets/images/jobs/jobs1.png'))
		article.col-md-7.jobs-header
			h2
				blockquote!= pageData.blockquote
		article.col-xs-12.col-sm-12.col-md-6.col-sm-offset-0.no-padding

			ul
				.department(ng-repeat="department in jobs.departments")
					.positions {{department.name}}
					hr
					li(ng-repeat="position in department.openPositions")
						a(ng-href="{{position.url}}", target="blank") {{position.title}}
						.location {{position.location}}
