<<<<<<< HEAD
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
=======
- var bodyClass;

block variables
doctype html
html(xmlns:ng="http://angularjs.org/" ng-app='phenoVCU')
	head
		title(update-title)
		link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/bower_components/snapjs/snap.css')
		link(rel='stylesheet', href='/bower_components/angular-snap/angular-snap.min.css')
		link(rel='stylesheet', href='/bower_components/owl/owl-carousel/owl.carousel.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		meta(name="viewport", content="width=device-width, initial-scale=1")

		include ./favicon

			
	body(class=bodyClass, ng-controller="phenoController")


		snap-drawers
			include ./components/side-nav

		.body-wrapper
			snap-content
				include ./components/top-nav

				block content


	// SnapJS
	script(src='/bower_components/snapjs/snap.min.js')

	// Angular + dependencies
	script(src='/bower_components/angular/angular.min.js')
	script(src='/bower_components/angular-ui-router/release/angular-ui-router.min.js')
	script(src='/bower_components/angular-messages/angular-messages.min.js')
	script(src='/bower_components/angular-animate/angular-animate.min.js')
	script(src='/bower_components/angular-snap/angular-snap.min.js')
	script(src='/bower_components/angular-cookies/angular-cookies.min.js')

	script(src='/bower_components/jquery/dist/jquery.min.js')
	script(src='/bower_components/owl/owl-carousel/owl.carousel.min.js')
	script(src='/javascripts/phenoVCU.js')
	script(src='/javascripts/main.js')  
>>>>>>> master
