doctype html
html(xmlns:ng="http://angularjs.org/" ng-app='phenoCom')
	head
		title(update-title)
		meta(name="viewport", content="width=device-width, initial-scale=1")
			
		include ./favicon
				
	body(class=bodyClass, ng-controller="phenoController")

		.body-wrapper
			include ./components/top-nav

			block content

		.drawer

			include ./components/side-nav