block variables
- copy = require('app/copy.js')
- page = "mens-wearhouse"
- pageData = copy.content[page] 
- title = 'mens-wearhouse' 
- currentProjectIndex = 1

include ./components/content-template.jade

