block variables
- copy = require('app/copy.js')
- page = "wilson-anthem"
- pageData = copy.content[page]
- currentProjectIndex = 2
- title = 'wilson-anthem'

include ./components/content-template.pug
