block variables
- copy = require('app/copy.js')
- page = "wilson-anthem"
- pageData = copy.content[page] 
- currentProjectIndex = 0
- title = 'wilson-anthem'

include ./components/content-template.jade 

