@font-face {
  font-family: 'Tiempose-Semibold';
  src: url("../../assets/fonts/tiempos/tiempos-headline-web-semibold.eot");
  /* IE9 Compat Modes */
  src: url("../../assets/fonts/tiempos/tiempos-headline-web-semibold.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/tiempos/tiempos-headline-web-semibold.woff2") format("woff2"), url("../../assets/fonts/tiempos/tiempos-headline-web-semibold.woff") format("woff");
}

@font-face {
  font-family: 'Circular-Book';
  src: url("../../assets/fonts/circular/circular-book.eot");
  /* IE9 Compat Modes */
  src: url("../../assets/fonts/circular/circular-book.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/circular/circular-book.woff") format("woff");
}

@font-face {
  font-family: 'icomoon';
  src: url("../../assets/fonts/icomoon/icomoon.eot?n1cqbv");
  src: url("../../assets/fonts/icomoon/icomoon.eot?n1cqbv#iefix") format("embedded-opentype"), url("../../assets/fonts/icomoon/icomoon.ttf?n1cqbv") format("truetype"), url("../../assets/fonts/icomoon/icomoon.woff?n1cqbv") format("woff"), url("../../assets/fonts/icomoon/icomoon.svg?n1cqbv#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.extend-icon:before {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-error:before {
  content: "\e905";
}

.icon-left-arrow:before {
  content: "\e903";
}

.icon-play-arrow:before {
  content: "\e904";
}

.icon-right-arrow:before {
  content: "\e902";
}

.icon-linkedin:before {
  content: "\e900";
}

.icon-instagram:before {
  content: "\e901";
}

h1, .h1 {
  font-size: 36px;
  color: #CC2127;
}

h2, .h2 {
  font-size: 32px;
  color: #000;
  font-family: "Tiempose-Semibold", "Times New Roman", serif;
}

h3, .h3 {
  font-size: 40px;
  color: #000;
}

h4, .h4 {
  font-size: 24px;
  color: #333;
}

p, .p {
  color: #000;
  font-size: 16px;
}

a, .a, .link {
  color: #333;
  cursor: pointer;
  text-decoration: none;
  -moz-transition: color 0.1s ease-in-out;
  -o-transition: color 0.1s ease-in-out;
  -webkit-transition: color 0.1s ease-in-out;
  transition: color 0.1s ease-in-out;
}

a:link, .a:link, .link:link {
  text-decoration: none;
}

a:visited, .a:visited, .link:visited {
  color: #333;
  text-decoration: none;
}

a:hover, .a:hover, .link:hover {
  color: #D0021B;
  text-decoration: none;
}

a:active, .a:active, .link:active {
  color: #333;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

.no-padding {
  padding: 0;
  margin: 0;
}

.hidden, input[type="file"] {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

input, label {
  border: none;
  outline: none;
  font-size: 24px;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-clip: padding-box;
}

label {
  color: #D0021B;
}

input[type="text"], input[type="email"] {
  color: #000;
  background-color: #FFF;
  height: 55px;
  width: 100%;
  line-height: 60px;
  border-bottom: 2px solid #979797;
  padding: 0;
  -moz-transition: border-color 0.15s ease-in-out;
  -o-transition: border-color 0.15s ease-in-out;
  -webkit-transition: border-color 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out;
}

input[type="text"]:focus, input[type="email"]:focus {
  border-color: #D0021B;
}

button, input[type="submit"], input[type="reset"] {
  height: 92px;
  font-size: 26px;
  line-height: 1;
  text-align: center;
  background-color: #F2F2F2;
  padding: 30px 0;
  color: #333;
  max-width: 339px;
  width: 100%;
  border: none;
  outline: none;
  font-weight: bold;
  -moz-transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
  -webkit-transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}

button:hover, input[type="submit"]:hover, input[type="reset"]:hover {
  background-color: #D0021B;
  color: #FFF;
}

button:focus, input[type="submit"]:focus, input[type="reset"]:focus {
  background-color: #D0021B;
  color: #FFF;
}

input[type="file"] + label {
  color: #333;
  cursor: pointer;
  -moz-transition: color 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out;
  -webkit-transition: color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out;
}

input[type="file"] + label:hover {
  color: #D0021B;
}

input[type="file"]:focus + label {
  color: #D0021B;
}

::-webkit-input-placeholder {
  color: #000;
  font-weight: bold;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #000;
  font-weight: bold;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #000;
  font-weight: bold;
}

:-ms-input-placeholder {
  color: #000;
  font-weight: bold;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #D0021B;
  font-family: sans-serif;
  overflow: initial;
  font-family: "Circular-Book", Helvetica, Arial, Sans-Serif;
  border-bottom: 8px solid #D0021B;
}

.body-wrapper {
  border-bottom: 8px solid #D0021B;
  background-color: #FFF;
}

h1 {
  margin: 0;
  line-height: 50px;
}

h1 a {
  color: #CC2127;
}

h1 a:hover {
  color: #CC2127;
}

h1 sub {
  bottom: 0;
  font-size: 12px;
  vertical-align: baseline;
}

.loading-box {
  display: block;
  height: 400px;
}

.social ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social li {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 0 15px;
}

.social li:first-child {
  margin-left: 0;
}

.social li:last-child {
  margin-right: 0;
}

.social a {
  display: block;
  height: 100%;
  width: 100%;
  border: 1px solid #979797;
  color: #979797;
  font-size: 27px;
  text-align: center;
  line-height: 60px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-clip: padding-box;
  transition: border-color .15s ease-in-out, color .15s ease-in-out;
}

.social a:hover {
  border-color: #D0021B;
  color: #D0021B;
}

body {
  background-color: #FFF;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}

.welcome-wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  position: relative;
  height: 100%;
}

.welcome-wrapper a {
  color: #666;
  width: 100%;
}

.welcome-wrapper a .icon-right-arrow {
  color: #A6A6A6;
  vertical-align: top;
  -moz-transition: color 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out;
  -webkit-transition: color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out;
  font-weight: normal;
}

.welcome-wrapper a:hover {
  color: #D0021B;
}

.welcome-wrapper a:hover .icon-right-arrow {
  color: #D0021B;
}

.icon-right-arrow {
  padding-right: 10px;
  line-height: 28px;
  vertical-align: middle;
}

span {
  font-size: 18px;
  margin: 0;
  font-weight: bold;
}

h2 {
  margin: 0;
  padding-bottom: 5px;
  font-size: 28px;
}

h1, img.logo {
  font-size: 41.25px;
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  padding: 60px;
}

img.logo {
  max-width: 200px;
}

.centered-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 0 60px;
  display: table;
}

.centered-content-wrapper {
  display: table-cell;
  vertical-align: middle;
}

@media (min-width: 641px) {
  h1, img.logo {
    margin-top: 0;
    top: 0;
  }
  h2 {
    font-size: 40px;
    margin-bottom: 10px;
  }
  a {
    font-size: 14px;
    padding: 10px 0;
  }
  main, .maincontent {
    padding: 0 !important;
  }
}

@media (max-height: 720px) {
  h1, img.logo {
    top: 0;
  }
}

@media (max-width: 400px) {
  .welcome h1, .welcome img.logo, .welcome .centered-content {
    padding: 30px;
  }
  h1, img.logo {
    max-width: 170px;
  }
}
