html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: $primary_color;
  overflow: initial;
  font-family: $primary_font;
  border-bottom: 8px solid $primary_color;
}

.body-wrapper{
    border-bottom: 8px solid $primary_color;
    background-color: #FFF;
    font-family: $primary_font;
}
.red {
	color: $primary_color;
}
a, .a, .link{
	
	&.red {
		color: $primary_color;
		font-weight: bold; 
	}
}
h1 {
  margin: 0;
  line-height: 50px;

  a {
    color: $logo_color;
    &:hover{
      color: $logo_color;
    }
  }
  
  sub{
    bottom: 0;
    font-size: 12px;
    vertical-align: baseline;
  }
}
legend {
	display: block;
	border: 0;
	font-size: 14px;
}
article p {
	font-weight: bold;
	font-size: 22px;

	&:last-of-type {
		margin-bottom: $base_spacing;
	}

	&.red {
		color: $primary_color;
	}
	span {
		font-weight: normal;
	    display: block;
	    font-size: 18px;
	}
}
.clear {
	clear: both;
}
.loading-box {
  display:block;
  height:400px;
}
figcaption {
	h3 {
		font-family: $secondary_font;
		font-weight: bold;
		font-size: 32px;
	}

}
.top-main {
	position: relative;
	border-bottom: 1px solid $gray_border_color;
	padding-bottom: $base_spacing;
	
	h2 {
		font-weight: bold;
	}
}
cite {
	color: $black_font;
	font-size: 14px;
	display: block;
	margin-top: 5px;
	font-weight: bold;
	font-family: $primary_font;
	font-style: normal;
	&:before {
		content: "\2014 \2009";
		content: none;
	}
	
	img {
		width: 50px;
		float: left;
		margin-right: 10px;
	}
	
	span {
		display: block;
		:first-of-type {
			padding-top: 8px;
		}

	}
	> span {
		&:last-of-type {
			opacity: 0.5;
			display: block;
		}
	}
}
h2 blockquote, h3 blockquote  {
	font-size: 40px;
	font-weight: 600;
	letter-spacing: -1px;
	border-left: 0;
	position: relative;
	font-family: $secondary_font;
	&:before {
		content: "";
		display: block;
		content: "\201C";
		font-size: inherit;
		position: absolute;
		left: 0;
		top: 10px; 
		color: $black_font;
	}
	&:last-letter {
		color: red;
	}
}
h3 blockquote {
	font-size: 22px;
	line-height: 28px;
	width: 400px;
	color: #333;
	&:before {
		color: inherit;
	}
}
.social{

	ul{
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	li{
		display: inline-block;
		width: 60px;
		height: 60px;
		margin: 0 ($base_spacing/4);
		&:first-child{
			margin-left: 0;
		}
		&:last-child{
			margin-right: 0;
		}
	}

	a {
		display: block;
		height: 100%;
		width: 100%; 
		color: $gray_color;
		font-size: 27px;
		text-align: center;
		line-height: 60px;
		@include border-radius(50%);
		transition: border-color .15s ease-in-out, color .15s ease-in-out;

		&:hover{
			border-color: $primary_color;
			color: $primary_color;
		}
	}
}
.owl-wrapper, .owl-item {
	transition: all 0.3s!important;
}
.owl-theme{
	.owl-prev {
	  	margin-left: 30%;
	}
	.owl-next {
	  	margin-right: 30%;
	}
}

.fix-images {
	position: fixed;
    top: 0;
}
.backtotop { 
	.icon-right-arrow {
		display: block;
	}
}
