html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: $primary_color;
  overflow: initial;
  font-family: $primary_font;
  border-bottom: 8px solid $primary_color;
}

.body-wrapper{
    border-bottom: 8px solid $primary_color;
    background-color: #FFF;
  }
h1 {
  margin: 0;
  line-height: 50px;

  a {
    color: $logo_color;
    &:hover{
      color: $logo_color;
    }
  }
  
  sub{
    bottom: 0;
    font-size: 12px;
    vertical-align: baseline;
  }
}

.loading-box {
  display:block;
  height:400px;
}

.social{

	ul{
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	li{
		display: inline-block;
		width: 60px;
		height: 60px;
		margin: 0 ($base_spacing/4);
		&:first-child{
			margin-left: 0;
		}
		&:last-child{
			margin-right: 0;
		}
	}

	a{
		display: block;
		height: 100%;
		width: 100%;
		border: 1px solid $gray_color;
		color: $gray_color;
		font-size: 27px;
		text-align: center;
		line-height: 60px;
		@include border-radius(50%);
		transition: border-color .15s ease-in-out, color .15s ease-in-out;

		&:hover{
			border-color: $primary_color;
			color: $primary_color;
		}
	}
}
.owl-wrapper, .owl-item {
	transition: all 0.3s!important;
}
.owl-theme{
	.owl-prev {
	  	margin-left: 30%;
	}
	.owl-next {
	  	margin-right: 30%;
	}
}

.fix-images {
	position: fixed;
    top: 0;
}
