// navigation styles


.snapjs-left{
  height: 100%;
  @include viewport-height(100vh);
  overflow: hidden;
  position: fixed;
}
.topnav {
    display: block;
    width: 100%;
    z-index: 100;
    background-color: #FFF;
    position: relative;
    min-height: 70px;

    &.fixed {
      position: fixed;
      background-color: rgba(255,255,255,.9);
    }

    .logo-wrapper{
      height: 40px;
      width: 160px;
      img {
        transition: all 0.3s;
      }
      &.fixed {
        float: left;
        margin-right: $base_spacing - 20;
        ~ .tabs {
          margin: 0;
          padding: 0;
          padding-left: 200px;
          li {
            a {
              padding: 4px 0 18px 0;
            }
          }
        }
      }
    }

    .nav-wrapper{
      width: 100%;
      max-width: $body_size;
      padding: 30px $base_spacing*2 0 $base_spacing*2;
      margin: 0 auto;
      position: relative;
    }

    h1 {
      margin: 0;
      line-height: 50px;
      /*padding: 0 20px;*/
      text-align: center;


      a {
        color: $logo_color;
        &:hover{
          color: $logo_color;
        }
      }

      .title {
        color: #000;
      }
      
      sub{
        bottom: 0;
        font-size: 12px;
      }
  }

  .tabs {
    margin: 0 -20px 0;
    padding: 0 20px;
    border-bottom: 1px solid #ccc;

    ul{
      margin: 0;
      margin-left: -40px;
      position: relative;
    }

    li {
      display: inline-block;
      font-size: 15px;
      line-height: 1;
      text-align: center;
      padding: 0;
      position: relative;
      padding: 0 5px;
      margin: 0 30px;
      //width: 135.5px;

      &.selected:before{
        content: "";
        position: absolute;
        bottom: -1px;
        width: 100%;
        left: 0;
        border-bottom: 4px solid $primary_color;
      }
      
      &:first-child{
        margin-left: 30px;
        &.selected:before{
          left: 0;
          margin-left: 0;
        }
      }
      &:last-child{
        margin-right: 0;
      }

      a{
        padding: 20px 0 15px 0;
        width: 100%;
        display: block;
        font-family: "Circular-Bold";
        color: black;
      }

      &.contact{
        position: absolute;
        right: 20px;
        padding: 0;
      }
    }
  }
}


.filterbutton {
    display:none;
}

.contact-drawer {
    padding-left:100px;
}

snap-content, .snap-content{
  /* margin-top: 140px; */
  background-color: #fff;
  /*overflow: initial;*/
  display: block;
}

.drawer-menu {
  display:block;
  position:relative;
  padding: 0;
  color: #FFF;



  .contact{
    font-size: 20px;

    a{
      font-weight: bold;
      color: $gray_welcome_color;

      @extend .extend-icon;
      @extend .icon-right-arrow;

      &:before{
        padding-right:14px;
        font-weight: normal;
        color: $gray_welcome_arrow_color;
        @include transition(color .15s ease-in-out);
      }

      &:hover{
        color: $primary_color;
        &:before{
          color: $primary_color;
        }
      }
    }
  }
  nav, .nav{
    ul{
      margin: 0;
      padding: 0;
      text-align: center;
      font-size: 24px;
      li{
        margin: 45px 0;
        padding:0;

        &.selected a{
          color: $primary_color;
        }
      }
    }
  }
  
  
  .social{
    text-align: center;
  }

  .menu-btn {
    margin-top:10px;
    button {
      width:100%;
    }
  }
}


#hamburger {
  width: 32px;
  height: 30px;
  position: absolute;
  float:left;
  cursor: pointer;
  z-index:20;

  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;

  span {
    display: block;
    position: fixed;
    height: 3px;
    width: 100%;
    background: $primary_color;
    border-radius: 2px;
    opacity: 1;
    left: 0;

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s;

    &:nth-child(1) {
      top: 0; //7.5px;
    }
    &:nth-child(2) {
      top: 9px; //20.5px;
    }
    &:nth-child(3) {
      top: 18px; //px;
    }
  }

  &.open span{
    /*background: #d3531a;*/
    &:nth-child(1) {
      top:13px;
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg);
    }
    &:nth-child(2) {
      opacity: 0;
      left: -60px;
    }
    &:nth-child(3) {
      top: 13px;
      -webkit-transform: rotate(-135deg);
      -moz-transform: rotate(-135deg);
      -o-transform: rotate(-135deg);
      transform: rotate(-135deg);
    }
  }
}