// custom owl carousel

.owl-theme{

	.owl-controls{
		padding: ($base_spacing/2) 0;
		position: relative;
	}

	.owl-buttons{
		width: 100%;
	}

	.owl-prev, .owl-next{
		margin-top: -30px;

		button{
			border: none;
			outline: none;
			background-color: transparent;
			font-size: 24px;
			height: 24px;
			width: 24px;
			min-width: 0;
			line-height: 24px;
			text-align: center;
			padding: 0;
			color: $gray_color;

			&:hover{
				color: $primary_color;
			}
		}
	}

	.owl-prev{
		float: left;
	}

	.owl-next{
		float: right;
	}

	.owl-pagination{
		text-align: center;
	}
	.owl-page{
		height: 24px;
		width: 24px;
		display: inline-block;
		background-color: transparent;
		position: relative;

		span{
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			padding: 0;
			margin: 0;
			@include border-radius(50%);
			height: 8px;
			width: 8px;
			margin-top: -4px;
			margin-left: -4px;
			background-color: $gray_color;
			@include transition(height .15s ease-in-out, 
								width .15s ease-in-out, 
								background-color .15s ease-in-out,
								margin .15s ease-in-out);
		}

		&.active{
			span{
				height: 16px;
				width: 16px;
				margin-top: -8px;
				margin-left: -8px;
			}
		}

        &:hover{
          span{
            background-color: $primary_color;
          }
        }
	}
}