// Setup simple stylguide rules

h1, .h1{
	font-size: $h1_size;
	color: $logo_color;
}

h2, .h2{
	font-size: $h2_size;
	color: $black_font;
	font-family: $secondary_font;
}

h3, .h3{
	font-size: $h3_size;
	color: $black_font;
}
h4, .h4{
	font-size: $h4_size;
	color: $gray_font;
}

p, .p{
	color: $black_font;
	font-size: $p_size;
}

a, .a, .link{
	color: $gray_color; 
	cursor: pointer;
	text-decoration: none;
	@include transition(color .1s ease-in-out);
	&:link{
		text-decoration: none;
	}

	&:visited {
    	color: $gray_font;
    	text-decoration: none;
    }
    &:hover {
    	color: $primary_color;
    	text-decoration: none; 
    }
    &:active {
    	color: $gray_font;
    	text-decoration: none;
    }
}

img{
	display: block;
	width: 100%;
}

.no-padding{
	padding: 0;
	margin: 0;
}

.hidden{
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}

input, label{
	border: none;
	outline: none;
	font-size: $h4_size;
	@include border-radius(0);
}

label{
	color: $primary_color;
}

input[type="text"], input[type="email"]{
	color: $black_font;
	background-color: #FFF;
	height: 55px;
	width: 100%;
	line-height: 60px;
	border-bottom: 2px solid $gray_color;
	padding: 0;
	@include transition(border-color .15s ease-in-out);

	&:focus{
		border-color: $primary_color;
	}
}

button, input[type="submit"], input[type="reset"]{
	height: 92px;
	font-size: 26px;
	line-height: 1;
	text-align: center;
	background-color: $light_gray_color;
	padding: ($base_spacing/2) 0;
	color: $gray_font;
	max-width: 339px;
	width: 100%;
	border: none;
	outline: none;
	font-weight: bold;
	@include transition(background-color .15s ease-in-out, color .15s ease-in-out);

	&:hover{
		background-color: $primary_color;
		color: #FFF;
	}

	&:focus{
		background-color: $primary_color;
		color: #FFF;
	}
}

input[type="file"]{
	@extend .hidden;

	+ label{
		color: $gray_font;
		cursor: pointer;
		@include transition(color .15s ease-in-out);

		&:hover{
			color: $primary_color;
		}
	}

	&:focus{
		+ label{
			color: $primary_color;
		}
	}
}

ul li {
	list-style: none;
}
::-webkit-input-placeholder {
   color: $black_font;
   font-weight: bold;
}
:-moz-placeholder { /* Firefox 18- */
   color: $black_font; 
   font-weight: bold; 
}
::-moz-placeholder {  /* Firefox 19+ */
   color: $black_font;  
   font-weight: bold;
}
:-ms-input-placeholder {  
   color: $black_font;  
   font-weight: bold;
}