body{
	background-color: #FFF;
	@include box-sizing(border-box);
	overflow: hidden;
}

.welcome-wrapper{
	margin: 0 auto;
	width: 100%;
	max-width: $body_size;
	position: relative;
	height: 100%;

	a{
		color: $gray_welcome_color;
		width: 100%;
		.icon-right-arrow{
			color: $gray_welcome_arrow_color;
			vertical-align: top;
			@include transition(color .15s ease-in-out);
			font-weight: normal;
		}
		&:hover{
			color: $primary_color;

			.icon-right-arrow{
				color: $primary_color;
			}
		}
	}
}

.icon-right-arrow{
	padding-right: 10px;
	line-height: 28px;
    vertical-align: middle;
}

span{
	font-size: 18px;
	margin: 0;
	font-weight: bold;
}

h2{
	margin: 0;
	padding-bottom: ($base_spacing/12);
	font-size: 28px;
}

h1, img.logo{
	font-size: 41.25px;
	position: absolute;
	top: 20%;
	left: 0;
	width: 100%;
	padding: $base_spacing;
}

img.logo{
  max-width: 200px;
}


.centered-content{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	padding: 0 $base_spacing;
	display: table;
}

.centered-content-wrapper{
	display: table-cell;
    vertical-align: middle;
}

//sm and up
@media (min-width: 641px) {
	h1, img.logo{
		margin-top: 0;
		top: 0;
	}
	h2{
		font-size: 40px;
		margin-bottom: 10px;
	}
	a{
		font-size: 14px;
		padding: 10px 0;
	}
	main, .maincontent{
		padding: 0 !important;
	}
}

@media (max-height: 720px) {

	h1, img.logo{
		top: 0;
	}
}

//xxs only
@media (max-width: 400px) {

	.welcome{
		h1, img.logo, .centered-content{
			padding: ($base_spacing/2);
		}
	}

	h1, img.logo{
		max-width: 170px
	}

}