.about {
	.top-main {
		h2 {
			font-size: 46px;
			//letter-spacing: -1px;
			//word-spacing: -2px;
			line-height: 56px;
		}
		p {
			color: $primary_color;
			font-size: 22px;
			font-family: $secondary_font;
			width: 40%;
			min-width: 430px;
			@media screen and (max-width: 640px) {
				font-size: 18px;
			}
		}
		cite {
			
		}
	}
	.border-bottom {
		border-bottom: 1px solid $gray_border_color;
		padding: 0;
		margin: 0 15px;
	}
	.col-md-7 {
		//padding-left: $base-spacing;
		padding-left: 40px;
		@media screen and (max-width: 768px) {
			padding-left: 0;
		}

	}
	figcaption ul {
		padding-left: 0;
		font-size: 16px;
		> span {
			font-weight: bold;
			display: block;
			margin-top: $base-spacing - 30;
		}
	}

	article {
		margin-top: 20px;

		p {
			margin-top: $base-spacing - 20;
			font-family: "Circular-Bold";
			&:last-of-type {
				margin-bottom: $base-spacing;
				@media screen and (max-width: 640px) {
					margin-bottom: 40px;
				}
			}
			span {
				margin-top: $base-spacing - 40;
				font-family: "Circular-Book";
			} 
		}

	}
	figure {
		background: #F2F2F2;
		padding: $base-spacing;
		padding-top: 140px;
		margin-top: 233px;
		margin-bottom: $base-spacing;
		@media screen and (max-width: 520px) {
			margin-top: 180px;

		}
		@media screen and (max-width: 1280px) and (min-width: 1024px) {
			padding-top: 200px;

		}
		img {
			margin-top: -324px;
			border-radius: 50%;
			@media screen and (max-width: 520px) {
				margin-top: -300px;

			}
		}
	}
	.ac.col-md-12{
		// for put this part at the end part for mobile
		.col-md-7 {
			float: right;
		}
		.col-md-5 {
			float: left;
			padding-bottom: 20px;
		}
	} 

		/*Acco*/
	.ac-container {
	    background-color: #F2F2F2;
	    padding: $base-spacing - 20;
	    margin: 20px 0 40px 0;
		h4 {
			font-family: 'Tiempose-Semibold';
			font-size: 20px;
		}
		article.ac-small p {
			@media screen and (max-width: 1024px) and (min-width: 768px) {
				font-size: 12px;
			}
		}
	    input:checked {
	    	+ label {
	    		
	    		&:after {
	    			transform: rotate(90deg);
	    		}

	    	}
	    }
	}

	.ac-container label {
	    position: relative;
	    z-index: 20;
	    display: block;
	    cursor: pointer;
	    font-family: $secondary_font;
	    font-size: 14px;
	    padding: 20px 0 0 0;
	    color: $gray_font;
	    width: 100%;
	    font-weight: normal;
	    &:after {
	    	content: "\e902";
	    	position: absolute;
	    	font-size: 14px;
	    	right: 0;
	    	top: 23px;
	    	font-family: 'icomoon' !important;
		    speak: none;
		    font-style: normal;
		    font-variant: normal;
		    text-transform: none;
		    line-height: 1;
		    transform: rotate(-90deg);
		    /* Better Font Rendering =========== */
		    -webkit-font-smoothing: antialiased;
		    -moz-osx-font-smoothing: grayscale;
	    }
	}

	.ac-container {
	    width: 100%;
	    text-align: left;
	}

	.ac-container input:checked + label:hover:after {
	    //background-image: url(../images/arrow_up.png);
	}
	.ac-list {
		border-bottom: 1px solid #ddd;
		padding-bottom: 20px;
		&:last-of-type {
			border-bottom: 0;
		}
	}
	.ac-container input {
	    display: none;
	}

	.ac-container article {
	    margin-top: -1px;
	    overflow: hidden;
	    height: 0;
	    position: relative;
	    z-index: 10;
	    -webkit-transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
	    -moz-transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
	    -o-transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
	    -ms-transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
	    transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
	}

	.ac-container article p {
		font-size: 14px;
		line-height: 18px;
		font-weight: normal;
		font-family: $monospace_font;
		margin-top: 10px;
		&:last-of-type {
			margin-bottom: 0;
		}
	}

	.ac-container input:checked ~ article {
	    -webkit-transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
	    -moz-transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
	    -o-transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
	    -ms-transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
	    transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
	}

	.ac-container input:checked ~ article.ac-small {
	    height: 100px;
	}

	.ac-container input:checked ~ article.ac-medium {
	    height: 100px;
	}

	.ac-container input:checked ~ article.ac-large {
	    height: 230px;
	}
	.folders {
		margin-top: $base-spacing;
		img {
			width: 85%;
			@media screen and (max-width: 993px) {
				margin: 0 auto;
			}
		}
		@media screen and (max-width: 640px) {
			margin-top: 0;
		}
	}
	.archie {
		margin-bottom: $base-spacing;
	}
}