img.linkedIn-link {
    width: 30%;
    margin-top: 40px !important;
}

input::-webkit-input-placeholder {
   color: #979797;
   font-size: 14px;
}

input:-moz-placeholder { /* Firefox 18- */
   color: #979797;
   font-size: 14px;

}

.jFiler-item-title {
    font-weight: lighter;
}

input::-moz-placeholder {  /* Firefox 19+ */
   color: #979797;
   font-size: 14px;

}

input:-ms-input-placeholder {
   color: #979797;
   font-size: 14px;

}

a.apply-now.submit-app {
    margin-top: 0px;
}

.job-title.apply-title {
    padding-right: 0px !important;
}

@media (max-width:736px) {

.submit-app {
    font-size: 16px !important;
    width: 200px !important;
    height: 60px;
    display: flex;
    justify-content: center;
    padding: 0;
}

  .resume-attached-hidden {
    margin-top: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

  button.btn.btn-default.attach-res {
    margin-top: 50px;
    border: 2px solid #e2e2e2;
    border-radius: 0px;
    font-weight: 900;
    font-size: 16px;
    width: 200px;
    height: 60px;
    width: 200px;
    height: 60px;
    margin-top: 40px !important;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    display: flex;
}

  a.apply-now.submit-app {
    margin-top: 0px;
    width: 200px;
    margin-left: 15px;
}
  img.linkedIn-link {
      width: 54%;
      display: flex;
      margin-top: 40px !important;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
  }
    .form-group {
      margin-bottom: 15px;
      margin-left: 15px;
      margin-right: 15px;
  }
  span.fill-it {
      font-size: 17px;
      color: black;
      /* margin-left: 18px; */
      font-weight: 900;
      margin-bottom: 10px !important;
      margin-top: 10px !important;
      padding-bottom: 20px;
      text-align: center;
      text-rendering: geometricPrecision;
      display: flex;
      justify-content: center;
  }
}

span.fill-it {
    font-size: 17px;
    color: black;
    font-weight: 900;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
    padding-bottom: 20px;
    text-rendering: geometricPrecision;
}

img.or {
    margin-bottom: 40px;
}

button.btn.btn-default.attach-res {
    margin-top: 50px;
    border: 2px solid #e2e2e2;
    border-radius: 0px;
    font-weight: 900;
    font-size: 16px;
}
button.btn.btn-default.attach-res:hover {
    color: #cc2128;
    background: white;
    transition: .4s;
    border: 2px solid #cc2128;
}

article.col-md-3.pull-right.col-sm-12.col-xs-12.job-column-3 {
    margin-top: 390px;
}

.custom-select {
    width: 230px;
    padding-right: 40px;
    font-family: circular-book;
    font-size: 16px;
    margin-bottom: 40px;
    border-radius: 0px;
    font-weight: bold;
}

// filer styles

li.jFiler-item:hover {
    color: #333333;
}

.jFiler-item-others span {
    padding: 10px;
}

.jFiler-input-choose-btn:hover {

  li.jFiler-item {
      color: #333333;
  }

}

li.jFiler-item {
    width: 240px;
    height: 57px;
    padding: 18px;
    padding-left: 40px;
    text-align: center;
}

// .jFiler-item-trash-action {
//   background-image: url(../assets/images/delete-file.png);
// }
li.trash-icon {
    position: relative;
    top: -37px;
    width: 25px;
    left: 95px;
    z-index: 2;
    cursor: pointer;
}

.jFiler.jFiler-theme-default:hover {
    color: white;
/*     background: #cc2128; */
    transition: .4s;
}

a.jFiler-input-choose-btn:hover {
    color: #333333 !important;
}

.jFiler.jFiler-theme-default {
    width: 150px;
    height: 60px;
    text-align: center;
    padding: 16px;
    border-radius: 0px;
    border: 2px solid #dcdada;
    /* color: #565656; */
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
}

a.jFiler-input-choose-btn {
    color: #333333;
    font-family: circular-book;
    font-weight: lighter;
}

ul.jFiler-items-list.jFiler-items-default {
    margin-left: 140px;
    margin-top: -40px;
}

.col-md-6.submit-attach {
    margin-top: 0px;
    margin-left: -15px;
}


.btn-group {
    width: 240px;
    text-align: left;
    border-radius: 0px;
}

img.dept-caret {
    position: absolute;
    width: 17px;
    top: 28px;
    left: 205px;
    z-index: 3;
}

.submit-attach {
    margin-left: -30px;
}

button.btn.dropdown-toggle {
    border-radius: 0px;
    font-size: 16px;
    font-weight: bold;
    font-family: circular-book;
    font-weight: lighter;
    text-align: left;
    padding-left: 35px;
    margin: 0 auto;
    border: 2px solid #dcdada;
    /* background: #eee; */
    max-width: 390px;
    width: 270px;
    margin-right: 40px;
    position: relative;
}

.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.125) !important;
     box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.125) !important;
}

ul.dropdown-menu  li {
    /* text-align: left; */
    font-size: 16px;
    margin-left: -5px;
}


.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #cc2128;
    background-color: transparent !important;
}

 .open > .dropdown-menu {
    display: block;
    width: 270px;
    border-radius: 0px;
    padding-bottom: 10px;
    padding-left: 20px;
    margin-left: -15px;
    margin-top: 0px;
    border-left: 2px solid #dcdada;
    border-right: 2px solid #dcdada;
    box-shadow: none;
    border-bottom: 2px solid #dcdada;
    border-top: none;
    transition: all .5s;
}

button.btn.dropdown-toggle:hover {
    background: #f2f2f2 !important;
    color: #333333 !important;
}


hr.job-hr {
    margin-bottom: 80px;
    border-bottom: 1px solid #eee;
    display: -webkit-box;
    height: 90px;
    width: 100%;
    color: transparent;
    border-top: 1px solid white !important;
}

.col-md-10.action-buttons {
    margin-top: 30px;
}


// WEBPACK FOOTER //
// webpack:///stylesheets/Users/jpimenta/pheno-com/stylesheets/application.scss



// WEBPACK FOOTER //
// webpack:///stylesheets/Users/jpimenta/pheno-com/stylesheets/application.scss



// WEBPACK FOOTER //
// webpack:///stylesheets/Users/jpimenta/pheno-com/stylesheets/application.scss


// WEBPACK FOOTER //
// webpack:///stylesheets/Users/jpimenta/pheno-com/stylesheets/application.scss



// WEBPACK FOOTER //
// webpack:///stylesheets/Users/jpimenta/pheno-com/stylesheets/application.scss


// WEBPACK FOOTER //
// webpack:///stylesheets/Users/jpimenta/pheno-com/stylesheets/application.scss


// WEBPACK FOOTER //
// webpack:///stylesheets/Users/jpimenta/pheno-com/stylesheets/application.scss



// WEBPACK FOOTER //
// webpack:///stylesheets/Users/jpimenta/pheno-com/stylesheets/application.scss


// WEBPACK FOOTER //
// webpack:///stylesheets/Users/jpimenta/pheno-com/stylesheets/application.scss



// WEBPACK FOOTER //
// webpack:///stylesheets/Users/jpimenta/pheno-com/stylesheets/application.scss



// WEBPACK FOOTER //
// webpack:///stylesheets/Users/jpimenta/pheno-com/stylesheets/application.scss


// WEBPACK FOOTER //
// webpack:///stylesheets/Users/jpimenta/pheno-com/stylesheets/application.scss


// WEBPACK FOOTER //
// webpack:///stylesheets/Users/jpimenta/pheno-com/stylesheets/application.scss


// WEBPACK FOOTER //
// webpack:///stylesheets/Users/jpimenta/pheno-com/stylesheets/application.scss


// WEBPACK FOOTER //
// webpack:///stylesheets/Users/jpimenta/pheno-com/stylesheets/application.scss


// WEBPACK FOOTER //
// webpack:///stylesheets/Users/jpimenta/pheno-com/stylesheets/application.scss


// WEBPACK FOOTER //
// webpack:///stylesheets/Users/jpimenta/pheno-com/stylesheets/application.scss



// WEBPACK FOOTER //
// webpack:///stylesheets/Users/jpimenta/pheno-com/stylesheets/application.scsstion.scss



// WEBPACK FOOTER //
// webpack:///stylesheets/Users/jpimenta/pheno-com/stylesheets/application.scss


// WEBPACK FOOTER //
// webpack:///stylesheets/Users/jpimenta/pheno-com/stylesheets/application.scss


// WEBPACK FOOTER //
// webpack:///stylesheets/Users/jpimenta/pheno-com/stylesheets/application.scss


// WEBPACK FOOTER //
// webpack:///stylesheets/Users/jpimenta/pheno-com/stylesheets/application.scss


// WEBPACK FOOTER //
// webpack:///stylesheets/Users/jpimenta/pheno-com/stylesheets/application.scss