img.linkedIn-link {
  width      : 30%;
  margin-top : 40px !important;
}

input::-webkit-input-placeholder {
  color     : #979797;
  font-size : 14px;
}

input:-moz-placeholder {
  /* Firefox 18- */
  color     : #979797;
  font-size : 14px;
}

.jFiler-item-title {
  width       : 270px;
  margin-left : -50px;
  color       : #333333;
  font-weight : lighter;
  font-weight : lighter;
}

input::-moz-placeholder {
  /* Firefox 19+ */
  color     : #979797;
  font-size : 14px;
}

.rotate {
  filter            : progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -moz-transform    : rotate(180deg);
  -webkit-transform : rotate(180deg);
  transition        : .4s;
}

.opaque {
  opacity    : 1 !important;
  transition : .5s !important;
}

input:-ms-input-placeholder {
  color     : #979797;
  font-size : 14px;
}

a.apply-now.submit-app {
  margin-top : 0px;
}

.job-title.apply-title {
  padding-right : 0px !important;
}

.ui-select-search {
  display : none;
}

@media (max-width:736px) {
  .submit-app {
    display         : flex;
    width           : 200px !important;
    height          : 60px !important;
    padding         : 2px !important;
    font-size       : 16px !important;
    justify-content : center;
  }

  .resume-attached-hidden {
    display         : flex;
    margin          : 0 auto;
    margin-top      : 20px;
    padding-top     : 10px;
    justify-content : center;
  }

  button.btn.btn-default.attach-res {
    display         : flex;
    width           : 200px;
    width           : 200px;
    height          : 60px;
    height          : 60px;
    margin          : 0 auto;
    margin-top      : 50px;
    margin-top      : 40px !important;
    border          : 2px solid #e2e2e2;
    border-radius   : 0px;
    align-items     : center;
    font-size       : 16px;
    font-weight     : 900;
    justify-content : center;
  }

  a.apply-now.submit-app {
    width       : 200px;
    margin-top  : 0px;
    margin-left : 15px;
  }

  img.linkedIn-link {
    display         : flex;
    width           : 54%;
    margin          : 0 auto;
    margin-top      : 40px !important;
    align-items     : center;
    justify-content : center;
  }

  .form-group {
    margin-right  : 15px;
    margin-bottom : 15px;
    margin-left   : 15px;
  }

  span.fill-it {
    margin-top     : 10px !important;
    margin-bottom  : 10px !important;
    padding-bottom : 20px;
    color          : black;
    text-align     : center;
    font-size      : 17px;
    font-weight    : 900;
    /* margin-left: 18px; */
  }
}

span.fill-it {
  margin-top     : 10px !important;
  margin-bottom  : 10px !important;
  padding-bottom : 20px;
  color          : black;
  font-size      : 17px;
  font-weight    : 900;
}

img.or {
  margin-bottom : 40px;
}

button.btn.btn-default.attach-res {
  margin-top    : 50px;
  border        : 2px solid #e2e2e2;
  border-radius : 0px;
  font-size     : 16px;
  font-weight   : 900;
}

button.btn.btn-default.attach-res:hover {
  color      : #cc2128;
  border     : 2px solid #cc2128;
  background : white;
  transition : .4s;
}

article.col-md-3.pull-right.col-sm-12.col-xs-12.job-column-3 {
  margin-top : 390px;
}

.custom-select {
  width         : 230px;
  margin-bottom : 40px;
  padding-right : 40px;
  border-radius : 0px;
  font-family   : circular-book;
  font-size     : 16px;
  font-weight   : bold;
}

// filer styles

li.jFiler-item:hover {
  color : #333333;
}

.jFiler-item-others span {
  padding : 10px;
}

.jFiler-input-choose-btn:hover {
  li.jFiler-item {
    color : #333333;
  }
}

li.jFiler-item {
  width        : 240px;
  height       : 57px;
  padding      : 18px;
  padding-left : 40px;
  text-align   : center;
}

// .jFiler-item-trash-action {

// background-image: url(../assets/images/delete-file.png);

//
