*, *:before, *:after {box-sizing:  border-box !important;}


.row-blog {
 -moz-column-width: 18em;
 -webkit-column-width: 18em;
 -moz-column-gap: 1em;
 -webkit-column-gap:1em;
 margin-top: 200px;

}

.item {
 display: inline-block;
 padding:  .25rem;
 width:  100%;
}

.well {
    position: relative;
    display: block;
    background-color: transparent;
    border: none;
}


// WEBPACK FOOTER //
// webpack:///stylesheets/Users/jpimenta/pheno-com/stylesheets/blog-grid.scss