#holidaygif {

}

video#holidayvideo {
    position: relative;
    /* left: 50%; */
    margin-left: 50%;
    margin-top: 50%;
    margin-bottom: 0px !important;
    min-width: 90%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    transform: translateX(-50%) translateY(-50%);
    background-size: contain;
    transition: 1s opacity;
}
