.home {
	margin-bottom: $base_spacing*2;
	.top-main {
		border-bottom: 0;
		p {
			font-size: 38px;
			font-family: $secondary_font;
			font-weight: normal;
		}
		.icon-right-arrow {
			transform: rotate(90deg);
			display: inline-block;
			font-size: 20px;
			color: #999;
			margin-top: 20px;
		}
	}
	
	#toggle-featured-contributors:checked ~ .featured-contributors {
		display: block;
	}
	
	.featured-contributors {
		box-sizing: border-box;
		text-align: center;
		background: #F2F2F2;
		padding: 0 $base_spacing $base_spacing;
		display: none;
		h6 {
			font-size: 18px;
			border-bottom: 1px solid #ccc;
			width: 30%;
			padding-bottom: $base_spacing;
			margin: $base_spacing auto;
			font-family: $monospace_font;
		}
		img {
			width: 100px;
			display: inline-block;
		}
		li {
			margin-bottom: $base_spacing*2;
			p {
				border-bottom: 1px solid #ccc;
				padding: $base_spacing - 40;
			}
		}
	}
}