.jobs ul li {
    padding: 20px 20px;
    font-size: 26px;
    background: #f1efef;
    /* border: 1px #d0021b; */
    margin: 15px;
    width: 30%;
    display: inline-block;
    border-radius: 2px;
    text-align: center;
}

@media (max-width:768px) {
  .jobs ul li {
      padding: 20px 20px;
      font-size: 26px;
      background: #f1efef;
      /* border: 1px #d0021b; */
      margin: 15px;
      width: 80%;
      display: inline-block;
      border-radius: 2px;
      text-align: center;
  }
}
