.work {
	.top-main {
		margin-bottom: $base_spacing;
	}
	.top-description {
		p {
			line-height: 26px;
			&:first-child:first-letter {
				float: left;
				font-size: 76px;
				line-height: 40px;
				font-family: $secondary_font;
				margin-right: 5px;
			}
			span.red {
				font-family: $secondary_font;
				font-size: 34px;
				display: block;
				margin: ($base_spacing - 20) 0;
				margin-left: - ($base_spacing - 20);
				line-height: 40px;
			}
		}
	}
	> article {
		margin-top: $base_spacing;
		&:first-of-type {
			margin: 0;
		}
		&:nth-of-type(odd) {
			.col-md-8 {
				float: right;
			}
		}
		&:last-of-type {
			margin-bottom: $base_spacing; 
		}
		p {
			&:last-of-type {
				margin-bottom: $base_spacing - 40; 
			}	
		}
	}
	h2 blockquote  {
		font-size: 52px;
	}
	img.clientlogo {
		width: 50px;
		margin-bottom: $base_spacing - 20;
	}
	legend.share {
		background: url('../assets/images/works/share-icon.svg') no-repeat left center;  
		padding: 30px;
	}
	fieldset {
		h3 {
			font-family: $secondary_font;
			font-weight: bold;
			color: $gray_font;
			font-size: 34px;
		}
		span {
			font-weight: bold;
			font-size: 17px;
		}
	}
	cite {
		margin: $base_spacing - 30 0;
	}
	.line {
		width: 50px;
		border-bottom: 2px solid #979797;
		margin: $base_spacing - 30 0;
	}
	.more-cases {
		background: #f2f2f2;
		text-align: center;
		.more-case-wrapper {
			margin: 0 auto;
			padding: $base_spacing - 20;
			article {
				p {
					font-family: $secondary_font;
					margin-top: $base_spacing - 30;
					&:last-of-type {
						margin-bottom: 0;
					}
				}
				a {
					display: block;
					margin: $base_spacing - 30;
				}
			}
		}
		margin-bottom: $base_spacing;
	}
}