.work {
	&.work-landing {
		h1 {
			position: absolute;
			text-indent: -9999em;
		}
		.col-md-4 {
			> fieldset {
				max-width: 275px;
				@media screen and (max-width: 1024px) and (min-width: 640px){
					margin-top: 30px;
				}
			}
		}
		> article:nth-of-type(2) {
			margin-top: 0;
		}
	}
	a legend {
		opacity: 0.75;
		font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
		font-size: 12px;
	}
	.col-md-4 {
		//max-width: 275px;
		@media screen and (max-width: 1024px) {
			max-width: 100%
		}
	}
	&.work-details {
		#scrollingSite {
			height: 2800px;

			.browser-bar {
				position: absolute;
				left: 0;
				top: 0;
				z-index: 9999;
				background: white;
				width: 100%;
				height: 100px;
				img {
					position: absolute;
					left: 0;
					bottom: 0;
				}
			}
			.image-component {
				width: inherit;
				padding-top: 100px;
				background: white;
				&.fixed {
					top: 70px;
					position: fixed;
				}
			}

		}
		h1 {
			position: absolute;
			text-indent: -9999em;
			opacity: 0;
		}
		.client_logo-wrapper {
			width: 60px;
			height: 60px;
			background-color: #f2f2f2;
			margin-bottom: 0;
			margin-right: 20px;
		}
		.detail-wrapper {
			@media screen and (min-width: 640px) {
				display: block!important;
			}
			@media screen and (max-width: 640px) {
				margin: 10px 0 20px 0;
			}
		}

		.top-main {
			margin-bottom: $base_spacing - 20;
		}
		.case-writer {
			border-top: 1px solid #ccc;
			padding-top: $base_spacing/2;
			> span {
				margin-bottom: 10px;
				display: block;
				font-size: 16px;
			}
			> span > span:first-of-type {
				font-family: "Circular-Bold";

			}
			p {
				font-size: 14px;
				margin-top: 10px;
			}
			@media screen and (max-width: 640px) {
				padding: 30px 30px 0 30px;
			}
		}
		/* .col-xs-12 {
			@media screen and (max-width: 640px) {
				padding: 0 30px;
			}
		} */
		.topcontent {
			//padding: 0 30px;
		}
		.vimeo {
			height: 280px;
		}
		h2 blockquote {
			font-size: 60px;
			line-height: 70px;
		}
		h2 blockquote, h3 blockquote {

			&:before {
				content: none;
			}
		}
		fieldset {
			margin-bottom: 20px;

			legend {
				margin-bottom: 0;
				font-family: $monospace_font;
			}
		}
		cite img {
			width: 80px;
			margin-right: 20px;
			font-size: 16px;
		}
		.project-detail {
			float: right;
			margin-top: 40px;
    	margin-bottom: 20px;
			> .col-md-4 {
				float: right;
			}

			label {
				color: #333;
				font-weight: normal;
				font-size: 16px;
				padding-left: 15px;
				margin-bottom: 20px;
				&.icon-dot {
					@media screen and (min-width: 640px) {
						display: none;
					}
					padding-left: 10px;
					&:before {
						position: relative;
						top: 2px;
					}
				}
				&:hover {
					color: $primary_color;
					cursor: pointer;
				}
				&.icon-share {

					@media screen and (max-width: 640px) {
						margin-left: 40px;
					}
					&:before {
						top: 2px;
						position: relative;
					}
				}
				span {
					font-family: "Circular-bold";
					font-size: 13px;
				}
			}

			aside {
				/* hide for desktop version*/
				input, label {
					display: none;
				}


				label {
					display: block;
					color: $gray_font;
					span {
						padding-left: 20px;
						display: block;
					}
					&:before {
						position: absolute;
						top: 0;
						@media screen and (min-width: 640px) {
							top: -2px;
						}
					}
					&.icon-dot {
						&:before {
							top: 2px;
						}
					}
				}
			}
			ul.social-icons {
				display: none;
				padding-left: 15px;
				@media screen and (max-width: 640px) {
					width: 100%;
					margin: 10px 0 30px 0;
				}
				.bubble-wrapper {
					width: 184px;
					margin: 0 auto;
					height: 100%;
				}
				li {
					float: left;
					margin-right: 5px;
					@media screen and (max-width: 640px) {
						margin-right: 11px;
					}
					a {
						//border: 1px solid #ccc;
						border-radius: 50%;
						padding: 10px;
						color: #333;
						&.original-color {
							&:hover {
								color: #333;
							}
						}

						&:hover {
							color: $primary_color;
						}
						&:active {
							color: #333;
						}
					}
				}
			}
		}
	}
	.top-main {
		margin-bottom: $base_spacing;
	}
	.top-description {
		float: left;
		p {
			line-height: 26px;
			&:first-child:first-letter {
				float: left;
				font-size: 76px;
				line-height: 40px;
				font-family: $secondary_font;
				margin-right: 5px;
			}
			span.red {
				font-family: $secondary_font;
				font-size: 34px;
				display: block;
				margin: ($base_spacing - 20) 0;
				margin-left: - ($base_spacing - 20);
				line-height: 40px;
				@media screen and (max-width: 768px) {
					margin-left: 0;
				}
				@media screen and (max-width: 640px) {
					font-size: 20px;
					line-height: 26px;
				}
			}
		}
	}
	> article {
		margin-top: $base_spacing;
		&.top-main {
			margin-top: $fix_header_height;
			@media screen and (max-width: 640px) {
		        margin-top: 0;
		    }
		}
		p {
			margin-top: 30px;
		}

		&:nth-of-type(odd) {
			.col-md-8 {
				float: right;
			}
		}
		&:nth-of-type(even) {
			.col-md-8 {
				padding-right: 30px;
			}
		}
		&:last-of-type {
			margin-bottom: $base_spacing;
		}
		p {
			&:last-of-type {
				margin-bottom: $base_spacing - 40;
			}
		}
	}
	h2 blockquote  {
		font-size: 46px;
		line-height: 56px;
		width: 80%;
	}
	img.clientlogo {
		width: auto;
		margin-bottom: $base_spacing - 20;
	}
	label.share {
		//padding: 10px 30px;
		//font-size: 15px;
		//font-family: "Circular-bold"!important;
	}
	fieldset {
		h3 {
			font-family: $secondary_font;
			color: $gray_font;
			font-size: 30px;
			margin-bottom: $base_spacing - 40;

		}
		span {
			font-family: "Circular-bold";
			font-size: 13px;
			display: block;
		}
		p {
			font-size: 13px;
			line-height: 20px;
			&:first-of-type {
				margin-top: 10px;
			}
		}
		a.red {
			font-size: 13px;
		}
	}
	cite {
		margin: $base_spacing - 50 0;
	}
	.line {
		width: 50px;
		border-bottom: 1px solid #979797;
		margin: $base_spacing - 40 0;
	}
	.more-cases {
		background: #f2f2f2;
		text-align: center;
		padding: $base_spacing*2 ($base_spacing - 20) 0 ($base_spacing - 20);
		padding-top: $base_spacing - 40;
		/* @media screen and (max-width: 640px) {
			//temporary solution to make the active scetion wider
			transform: scale(1.2);
			margin-top: $base_spacing+40;
		}  */
		> span, > a {
			padding-bottom: 30px;
			padding: 15px 15px 30px 15px;
		}
		> span {
			float: left;
			font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
		}
		> a {
			float: right;
		}
		.more-case-wrapper {
			margin: 0 auto;
			article {
				p {
					font-family: $secondary_font;
					margin-top: $base_spacing - 30;
					font-size: 18px;
					&:last-of-type {
						margin-bottom: 0;
						max-width: 250px;
						margin: 30px auto 0;
					}
					@media screen and (max-width: 320px) {
						font-size: 13px;
						line-height: 16px;
					}
				}
				a:last-of-type {
					display: block;
					margin: $base_spacing - 30;
					margin-bottom: $base_spacing;
				}
			}
			cite {
				width: 100%;
				span:first-of-type {
					font-size: 16px;
				}
			}
		}
		margin-bottom: $base_spacing;
	}
	span.red {
		font-family: $secondary_font;
		font-size: 34px;
		display: block;
		margin: ($base_spacing - 20) 0;
		margin-left: - ($base_spacing - 20);
		line-height: 40px;
		@media screen and (max-width: 768px) {
			margin-left: 0;
		}
	}
	.detail-content, .topcontent {
		p {
			@media screen and (max-width: 640px) {
				padding: 0 30px;
			}
		}
	}
}
.bubble
{
position: relative;
width: 185px;
height: 58px;
padding: 20px 10px;
background: #FFFFFF;
border-radius: 3px;
border: rgba(0,0,0,0.25) solid 1px;
	@media screen and (max-width: 640px) {
		margin-top: 30px;
		width: 90%;
		margin: 0 auto;
	}
}

.bubble:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 0 10px 10px;
border-color: #FFFFFF transparent;
display: block;
width: 0;
z-index: 1;
top: -10px;
left: 36px;
	@media screen and (max-width: 640px) {
		left: 110px;
	}
}

.bubble:before
{
content: '';
position: absolute;
border-style: solid;
border-width: 0 10px 10px;
border-color: rgba(0,0,0,0.25) transparent;
display: block;
width: 0;
z-index: 0;
top: -11px;
left: 36px;
	@media screen and (max-width: 640px) {
		left: 110px;
	}
}
.tet .col-xs-12 {
	float: none;
}

.fed-image {
    margin: 20px 0px 40px;
}

#icon-details-container {
	width: 100%;
	fieldset {
		margin-bottom: 10px;
	}
}
//
// .allcases {
// 	opacity: 0;
// }
