.work {
	&.work-details {
		.top-main {
			margin-bottom: $base_spacing - 20;
		}
		h2 blockquote {
			font-size: 60px;
			line-height: 70px;
		}
		h2 blockquote, h3 blockquote {

			&:before {
				content: none;
			}
		}
		fieldset {
			margin-bottom: 20px;
			legend {
				margin-bottom: 0;
				font-family: $monospace_font;
			}		
		}
		cite img {
			width: 80px;
			margin-left: 16px;
			margin-right: 20px;
			font-size: 16px;
		}
		.project-detail {
			float: right;
			> .col-md-4 {
				float: right;
			}
			aside {
				/* hide for desktop version*/
				input, label {
					display: none;
				}
				label {
					color: black;
					font-weight: normal;
				}
			}
			ul.social-icons {
				display: none;
				li {
					float: left;
					margin-right: 5px;
					a {
						border: 1px solid #ccc;
						border-radius: 50%;
						padding: 10px;
					}
				}
			}
		}
	}
	.top-main {
		margin-bottom: $base_spacing;
	}
	.top-description {
		float: left;
		p {
			line-height: 26px;
			&:first-child:first-letter {
				float: left;
				font-size: 76px;
				line-height: 40px;
				font-family: $secondary_font;
				margin-right: 5px;
			}
			span.red {
				font-family: $secondary_font;
				font-size: 34px;
				display: block;
				margin: ($base_spacing - 20) 0;
				margin-left: - ($base_spacing - 20);
				line-height: 40px;
			}
		}
	}
	> article {
		margin-top: $base_spacing;
		&:first-of-type {
			margin: 0;
		}
		&:nth-of-type(odd) {
			.col-md-8 {
				float: right;
			}
		}
		&:last-of-type {
			margin-bottom: $base_spacing; 
		}
		p {
			&:last-of-type {
				margin-bottom: $base_spacing - 40; 
			}	
		}
	}
	h2 blockquote  {
		font-size: 46px;
		line-height: 56px;
	}
	img.clientlogo {
		width: auto;
		margin-bottom: $base_spacing - 20;
	}
	label.share {
		padding: 10px 30px;
		font-size: 15px;
		font-family: "Circular-bold"!important;
	}
	fieldset {
		h3 {
			font-family: $secondary_font;
			font-weight: bold;
			color: $gray_font;
			font-size: 34px;
		}
		span {
			font-family: "Circular-bold";
			font-size: 15px;
		}
	}
	cite {
		margin: $base_spacing - 50 0;
	}
	.line {
		width: 50px;
		border-bottom: 2px solid #979797;
		margin: $base_spacing - 30 0;
	}
	.more-cases {
		background: #f2f2f2;
		text-align: center;
		.mono_font {
			text-align: left;
		}
		.more-case-wrapper {
			margin: 0 auto;
			padding: $base_spacing - 20;
			article {
				p {
					font-family: $secondary_font;
					margin-top: $base_spacing - 30;
					font-size: 18px;
					&:last-of-type {
						margin-bottom: 0;
					}
				}
				a {
					display: block;
					margin: $base_spacing - 30;
					margin-bottom: $base_spacing;
				}
			}
			cite {
				width: 100%;
				span:first-of-type {
					font-size: 16px;
				}
			}
		}
		margin-bottom: $base_spacing;
	}
}