#holidayVideo {
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    min-width: 100%;
    /* min-height: 100%; */
    width: 100%;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}

body {
    margin: 0 auto;
    background-color: #000;
}


#holidayGif {
    position: absolute;;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    height: auto;
    background-size: cover;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
}


/*non-stretchy gif*/
/*#holidayGif {
    position: fixed;
    min-width: 70%;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    height: auto;
    background-size: contain;
}*/

@media all and (max-width: 475px) {

  #holidayGif {
    position: absolute;
    min-width: 100%;
    min-height: inherit;
    padding: 0;
    margin: 0 auto;
    width: auto;
    height: auto;
    background-size: cover;
    z-index: 1;
  }
}


#playbutton {
    font-family: 'didot';
    z-index: 2;
    width: 137px;
    height: 36px;
    display: flex;
    justify-content: space-around;
    margin-top: 587px;
    margin-left: 104px;
    position: absolute;
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
    color: #bf8947;
    font-size: 21px;
    letter-spacing: 2px;
    font-weight: bolder;
    background: transparent;
    transition: .8s;
    border: 2px solid #bf8947;
}

#playbutton:hover {
  font-family: 'didot';
  z-index: 2;
  width: 137px;
  height: 36px;
  display: flex;
  justify-content: space-around;
  margin-top: 587px;
  margin-left: 104px;
  position: absolute;
  padding-top: 10px;
  padding-left: 0px;
  padding-right: 0px;
  color: black;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: bolder;
  background: #bf8947;
  transition: .8s;
  border: 2px solid #bf8947;
  /*transform: rotate(30deg);*/
  background:  linear-gradient(to right, rgba(230,183,64,1) 0%, rgba(252,205,77,1) 52%, rgba(251,223,147,1) 96%, rgba(251,223,147,1) 100%);
}

#playbutton:after {
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 200%;
  opacity: 0;
  font-family: 'didot';
  z-index: 2;
  width: 137px;
  height: 35px;
  display: flex;
  justify-content: space-around;
  margin-top: 590px;
  margin-left: 104px;
  position: absolute;
  padding-top: 11px;
  padding-left: 0px;
  color: black;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: bolder;
  background: #d19821;
  transition: .8s;
  border: 2px solid #d19821;
  /*transform: rotate(30deg);*/
  background:  linear-gradient(to right, rgba(230,183,64,1) 0%, rgba(252,205,77,1) 52%, rgba(251,223,147,1) 96%, rgba(251,223,147,1) 100%);
}
#playbutton:hover:after {
  font-family: 'didot';
  z-index: 2;
  width: 137px;
  height: 35px;
  display: flex;
  justify-content: space-around;
  margin-top: 590px;
  margin-left: 104px;
  position: absolute;
  padding-top: 11px;
  padding-left: 0px;
  color: black;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: bolder;
  background: #d19821;
  transition: .8s;
  border: 2px solid #d19821;
  /*transform: rotate(30deg);*/
  background:  linear-gradient(to right, rgba(230,183,64,1) 0%, rgba(252,205,77,1) 52%, rgba(251,223,147,1) 96%, rgba(251,223,147,1) 100%);
  opacity: 1;
   top: -30%;
   left: -30%;
   transition-property: left, top, opacity;
   transition-duration: 0.7s, 0.7s, 0.15s;
   transition-timing-function: ease;
}

@font-face {
  font-family: didot;
  src: url(fonts/didot.woff);
}
